$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);
$white: white;
$primary1: hsl(215, 51%, 70%);
$primary2: hsl(178, 100%, 50%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $main-bg;
    font-family: "Outfit", sans-serif;
    p {
        font-size: 18px;
    }
    color: $white;
}

.nft-card {
    margin: 80px auto;
    margin-bottom: 30px;
    height: 900px * 66 /100;
    width: 1440px * 25 / 100;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: $card-bg;
    border-radius: 10px;
    
    .nft-info {
        width: 1440px * 21 /100;
        height: 1440px * 40 / 100;
    }
    a {
        text-decoration: none;
        color: $white
    }
    a:hover {
        color: $primary2;
    }

    img {
        display:block;
        border-radius: 10px;
        width: 1440px * 21 / 100;
        height: 1440px * 21 / 100;
        margin-top: 900px * 3 /100;
        margin-bottom: 900px *3/100;
    }


    
    p {
        align-self: flex-start;
        margin-bottom: 14px;
        font-weight: 300;
        color: $primary1;  

    }
    h1 {
        font-size: 18px;
        font-weight: 600;
        align-self: flex-start;
        margin-bottom: 21px;
    }
    
    span {
        color: $primary1;  
        font-weight: 300;
    }

    .nft-pricing-time {
        display: flex;
        justify-content: space-between;
        margin-top: 1440px *1.5 /100;
        border-bottom: 1px solid $line-color;
        padding-bottom: 1440px* 2 /100;
        .eth-amount, .clock {
            display: flex;
            width: 1440px *7/100;
            align-items: center;
            justify-content: space-around;
        }
        .eth-amount {
            color: $primary2;
        }
    }
    
    .artist-profile {
        display: flex;
        width: 1440px * 15/100;
        justify-content: space-between;
        margin-top: 1440px * 1/100;

        img {
            margin: 0;
            width: 1440px * 2/100;
            height: 1440px * 2/100;
            border: 1px solid $white;
            border-radius: 100%;
        }

        p {
            margin: 0;
            font-size: 16px;
            align-self: center;
            font-weight: 400;
        }
    }


}





